*{
    margin: 0%;
    padding: 0%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: bold;
    flex-direction: column;
}
p{
    text-decoration: underline;
    letter-spacing: 30px;
    text-align: center;
}